body{
    background-color: grey;
}

h1{
    font-size: 50px;
    border-bottom-style: dashed;
    font-family: 'Courier New', Courier, monospace;
}

#first{
    background-color: rgb(146, 136, 136);
    font-family: 'Comic Sans MS';
    font-size: 22px;
    color: rgb(248, 237, 237);
}

table{
    border: 5px solid;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgb(226, 209, 209);
}

th{
    background-color: rgb(146, 136, 136);
    font-family: Arial, sans-serif;
}
td{
    background-color: rgb(248, 237, 237);
}

#left_lorem{
    background-color: rgb(146, 136, 136);
    color: rgb(248, 237, 237);
    font-size: 20px;
}
#right_lorem{
    background-color: rgb(146, 136, 136);
    color: rgb(248, 237, 237);
    font-size: 20px;
}


